@model DoctorFinder.EDM.TblAdmin


@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Patient/Views/Shared/_LayoutPatient.cshtml";
}


<div class="bg_color_2">
    <div class="container margin_60_35">
        <div id="login-2">
            <h1>Register</h1>
            <form asp-action="Register" asp-controller="Home">
                <div class="box_form clearfix">
                    <div class="box_Register last">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="AdminFname" class="form-control" placeholder="Enter First name" />
                            <span asp-validation-for="AdminFname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="AdminLname" class="form-control" placeholder="Enter Last name" />
                            <span asp-validation-for="AdminLname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="AdminEmail" class="form-control" placeholder="Enter Email" type="email" />
                            <span asp-validation-for="AdminEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="AdminPassword" class="form-control" placeholder="Enter Password" type="password" />
                            <span asp-validation-for="AdminPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input class="btn_1" type="submit" value="Register">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /login -->
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
